/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* ここまでがデフォルト */
/* h1 {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: start;
  white-space: nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 10;
  background-color: #242424;
}*/
/* .App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.App-header {
  position: fixed;
  
  z-index: 10;
}

.chat-box {
  flex: 1;
}

#title {
  margin: 0;
}

button {
  margin: 0;
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;
}

button img {
  width: 30px;
  height: auto;
} */

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #8CABD8;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

header.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  background-color: #8CABD8;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
  box-sizing: border-box;
}

header.App-header h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  margin: 0;
}

header.App-header h1 span#title {
  flex: 1;
  text-align: left;
  font-size: 18px;
  color: black;
  margin-left: 20px;
  line-height: 60px;
}

.switch_outer {
  width: 48px;
  height: 24px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  background-color: lightgray;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

.switch_outer.active {
  background-color: #51E373;
}

.toggle_switch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 5px;
  margin: auto;
  box-shadow: 1px 1px 7px #B7B7B7, -1px -1px 4px #CECECE inset;
  transition: left .3s ease-in-out;
}

.toggle_switch.active {
  left: 26px;
}

header.App-header h1 button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 20px 0 0;
  height: 60px;
  display: flex;
  align-items: center;
}

header.App-header h1 button img {
  height: 24px;
  width: 24px;
}

.chat-box {
  display: flex;
  flex-flow: column;
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 40px;
  overflow-y: auto;
  height: calc(100% - 100px); /* 100% - (margin-top + margin-bottom) */
  background-color: #8CABD8;
  color: black;
  box-sizing: border-box;
}

.chat-box p {
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-radius: 20px;
  word-wrap: break-word;
}

.user {
  align-self: flex-end;
  text-align: left;
  max-width: 300px;
  background-color: #6DE67A;
}

.assistant {
  align-self: flex-start;
  text-align: left;
  max-width: 300px;
  background-color: white;
}



form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 0;
  z-index: 10;
  box-sizing: border-box;
}

form input {
  flex: 1;
  padding: 10px;
  margin: 0 10px;
  border: solid #E8E8E8;
  border-width: thin;
  border-radius: 20px;
  background-color: #F5F5F5;
  font-size: 16px;
}

form input[type="text"]::placeholder {
  color: grey;
}

form button {
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  height: 58.5px;
}

form button img {
  height: 38px;
  width: 38px;
}